.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item__content-area h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.cart-item__price {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .cart-item__price {
    width: 8rem;
  }
}

.cart-item__price span:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  color: #8a2b06;
}
@media (max-width: 767px) {
  .cart-item__price span:first-child {
    font-size: 1.1rem;
  }
}
.cart-item__price span:last-child {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}
@media (max-width: 767px) {
  .cart-item__price span:last-child {
    font-size: 1rem;
  }
}

.cart-item__control-area {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .cart-item__control-area {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
  transition: 0.3s;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: white;
}
